<div class="home-centered">
	
	<%= image_tag "logos/no-padding.png", height: 128 %>

	<% if Rails.env.development? %>
		<div class="badge">
			!!! <strong>CODEJAM IS RUNNING IN DEVELOPMENT</strong> !!!
		</div>
	<% end %>
	
</div>