<div class="page-header">
	<h2>CODEJAM LEADERBOARD</h2>
</div>

<p>This is CodeJam's overall leaderboard; students are ranked based on their total score. When a student submits the correct answer to a question, they are awarded points for the correct submission. Stars are assigned based on rank and add bonus points to the score.</p>
<p>Stars are assigned as follows:</p>

<table class="borderless-table">
	<tr>
		<th>Rank 1</th><td>Gold Star</td><td>—</td><td>50 bonus points</td>
	</tr>
	<tr>
		<th>Ranks 2-6</th><td>Silver Star</td><td>—</td><td>25 bonus points</td>
	</tr>
	<tr>
		<th>Ranks 6-16</th><td>Bronze Star</td><td>—</td><td>10 bonus points</td>
	</tr>
</table>

<p><i>NOTE: This leaderboard might be inaccurate due to delays in processing scores. If your score is not immediately reflected, please allow a wait of at least 5 minutes before contacting your CodeJam liaison.</i></p>

