<% if !@questions.blank? %>
		<table class="open-table">
			<thead>
				<tr>
					<th scope="col">Question</th>
					<th scope="col">Max. Score</th>
					<th scope="col">Your score</th>
					<th scope="col">Stars</th>
					<th scope="col">Submissions</th>
				</tr>
			</thead>
			<tbody>
				<% @questions.each do |q| %>
					<tr>
						<td class="question-title">
							<%= link_to q.title, question_path(q.slug) %>
						</td>
						<td><%= q.score %>pts</td>
						<td>
							<% if q.submissions.where(:student_id => current_student.id).empty? %>
								Not attempted.
							<% elsif q.submissions.where(:student_id => current_student.id, :is_correct => true).empty? %>
								0pts
							<% else %>
								<%= q.score %>pts
							<% end %>
						</td>
						<td>
							<% if !q.submissions.where(:student_id => current_student.id, :gold_star => true).empty? %>
								gold_star
							<% elsif !q.submissions.where(:student_id => current_student.id, :silver_star => true).empty? %>
								silver_star
							<% elsif !q.submissions.where(:student_id => current_student.id, :bronze_star => true).empty? %>
								bronze_star
							<% else %>
								-
							<% end %>
						</td>
						<td><%= link_to "Your submissions", question_submissions_path(q.slug) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
<% else %>
	No questions.
<% end %>
