<% if !@questions.blank? %>
		<table class="open-table">
			<tbody>
				<% @questions.each do |q| %>
					<tr>
						<td class="question-title"><%= q.title %></td>
						<td><%= q.score %>pts</td>
					</tr>
				<% end %>
			</tbody>
		</table>
<% else %>
	No questions.
<% end %>
