<div id="question-content"><%= sanitize Commonmarker.to_html(content.force_encoding("utf-8"), options: {parse: {smart:true}, render:{unsafe:true}}) %></div>
<script>
	MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},svg: {fontCache: 'global'}};
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>


<%= image_tag image, style: "width: 600px" %>