body
	margin: 0
	padding: 50px

nav
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 50px
	width: calc(100vw - 100px)
	height: 50px
	margin-left: -50px
	margin-top: -50px
	div
		display: inline-block
		vertical-align: middle
	
nav a
	display: inline
	text-decoration: none
	padding-right: 10px
	&:hover
		text-decoration: underline

.navigation-link-top
	padding-right: 20px
	color: #000 !important
	text-decoration: none 
	text-align: left
	
.navigation-header-image
	width: 100%
	margin-right: 15px